{% extends "base.html.twig" %}

{% block title %}

SymeRecipe - Accueil
{%  endblock %}

{% block body %}
<div class="container mt-4">
<div class="jumbotron">
  <h1 class="display-4">Bienvenu sur SymeRecipe!</h1>
  <p class="lead">SymRecipe est une application qui va vous permettre de creer des recettes à base d'ingrégients
   que tu auras toi même créer. Tu pourras partager des recettes à la communauté du site, ou bien les garder en privées.</p>
  <hr class="my-4">
  <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
  <a class="btn btn-primary btn-lg" href="{{ path('security.registration') }}" role="button">Inscription</a>
</div>
</div>
{% endblock %}